/*
Mobile Nav

2 styles of menu are available.  A push menu will push the page content as the menu opens.  A slide menu will appear over the top.

Styleguide 0.13
*/

$menu-block--bgcolor: #000;
$menu-block--outerborder: none;

$easing: ease-in-out;
$speed: 0.5s;

$menu-size: 90%;

/*
Page

The page and page__body elements are needed for the navigation to work correctly. NOTE: It may be wise to make this a default for mobile and desktop.

Markup:
<div class='page'><div>

Styleguide 0.13.1
*/
h1 {
    margin-top:0;
    padding-top:0.6em
}

html, body {
    height:100%;
   
}

.page {
    width:100%;
    -moz-transition: transform $speed $easing;
    -o-transition: transform $speed $easing;
    -webkit-transition: -webkit-transform $speed $easing;
    transition: transform $speed $easing;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;


    position:relative;
}

/*
Page Body

The page__body element houses all of our visible content including headers and footers.

Markup:
<div class='page__body'><div>

Styleguide 0.13.2
*/

.page__body {
   height:100%;

}

/*
Page Nav

The mobile navigation element.  Can be positioned and revealed as required using the data attributes shown below.  On page load the navigation is defaulted as invisible.  This is to ensure no transitions are seen prior to the menu being requested.  The javascript applies a .page__nav--ready class once the menu is positioned correctly.

Markup:
<nav role="navigation" class="page__nav" data-position="right" data-reveal-type="push">
    <ul class="nav-menu">
        <li class="nav-menu__item">
            <a href="">Home</a>
        </li>
        <li class="nav-menu__item">
            <a href="">News</a>
        </li>
        <li class="nav-menu__item">
            <a href="">Media</a>
        </li>
        <li class="nav-menu__item">
            <a href="">About</a>
        </li>
    </ul>
    <button class="page__nav-close">Close</button>
</nav>


Styleguide 0.13.3
*/

.page__nav {
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: $menu-block--bgcolor;
    color: #fff;

    -moz-transition: transform $speed $easing;
    -o-transition: transform $speed $easing;
    -webkit-transition: -webkit-transform $speed $easing;
    transition: transform $speed $easing;

    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -webkit-perspective: 1000;

    z-index: 1;
    visibility: hidden;

    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    &--top {
        width: 100%;
        height: $menu-size;
        top: 0;
        bottom: auto;
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        border-bottom: $menu-block--outerborder;
    }

    &--right {
        height: 100%;
        width: $menu-size;
        right: 0;
        left: auto;
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        border-left: $menu-block--outerborder;
    }

    &--bottom {
        width: 100%;
        height: $menu-size;
        bottom: 0;
        top: auto;
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        border-top: $menu-block--outerborder;
    }

    &--left {
        height: 100%;
        width: $menu-size;
        left: 0;
        right: auto;
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        border-right: $menu-block--outerborder;
    }

    
}

.page__nav--ready {
    visibility: visible;
}

body.restrict-height{
    height:100%;
    overflow:hidden;
    
    .page {
        height:100%;
    }
}


/*
Showing a menu

Display a particular menu using one of the following classes - the MobileNav js class will dynamically add the correct class depending on the navigation element being shown.  Currently added to the .page wrapping element.

push-top            - show push menu top
push-right          - show push menu right
push-bottom         - show push menu bototm
push-left           - show push menu left
slide-top           - show slide menu top
slide-right         - show slide menu right
slide-bottom        - show slide menu bottom
slide-left          - show slide menu left

Markup:
<div class="page show-menu--{$modifiers}"></div>

Styleguide 0.13.4
*/


.show-menu {
    &--slide-top {
        .page__nav--top {
            -moz-transform: translateX(0) translateY(0);
            -ms-transform: translateX(0) translateY(0);
            -o-transform: translateX(0) translateY(0);
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
            z-index: 2;
        }

        .page__body {
            pointer-events:none;
        }
    }

    &--slide-right {
        .page__nav--right {
            -moz-transform: translateX(0) translateY(0);
            -ms-transform: translateX(0) translateY(0);
            -o-transform: translateX(0) translateY(0);
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
            z-index: 2;


        }

        .page__body {
            pointer-events:none;
        }
    }

    &--slide-bottom {
        .page__nav--bottom {
            -moz-transform: translateX(0) translateY(0);
            -ms-transform: translateX(0) translateY(0);
            -o-transform: translateX(0) translateY(0);
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
            z-index: 2;
        }

        .page__body {
            pointer-events:none;
        }
    }

    &--slide-left {
        .page__nav--left {
            -moz-transform: translateX(0) translateY(0);
            -ms-transform: translateX(0) translateY(0);
            -o-transform: translateX(0) translateY(0);
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
            z-index: 2;
        }

        .page__body {
            pointer-events:none;
        }
    }

    &--push-right {           

            -moz-transform: translateX(-$menu-size) translateY(0);
            -ms-transform: translateX(-$menu-size) translateY(0);
            -o-transform: translateX(-$menu-size) translateY(0);
            -webkit-transform: translateX(-$menu-size) translateY(0);
            transform: translateX(-$menu-size) translateY(0);

            .page__nav--right[data-reveal-type='push'] {
                z-index: 2;
            } 

            .page__body {
                pointer-events:none;
            }
    }

     &--push-left {
            -moz-transform: translateX($menu-size) translateY(0);
            -ms-transform: translateX($menu-size) translateY(0);
            -o-transform: translateX($menu-size) translateY(0);
            -webkit-transform: translateX($menu-size) translateY(0);
            transform: translateX($menu-size) translateY(0);  

            .page__nav--left[data-reveal-type='push'] {
                z-index: 2;
            } 

            .page__body {
                pointer-events:none;
            }
            
    }

    &--push-top {
            -moz-transform: translateX(0) translateY($menu-size);
            -ms-transform: translateX(0) translateY($menu-size);
            -o-transform: translateX(0) translateY($menu-size);
            -webkit-transform: translateX(0) translateY($menu-size);
            transform: translateX(0) translateY($menu-size);

            .page__nav--top[data-reveal-type='push'] {
                z-index: 2;
            }

            .page__body {
                pointer-events:none;
            }
    }

     &--push-bottom {
            -moz-transform: translateX(0) translateY(-$menu-size);
            -ms-transform: translateX(0) translateY(-$menu-size);
            -o-transform: translateX(0) translateY(-$menu-size);
            -webkit-transform: translateX(0) translateY(-$menu-size);
            transform: translateX(0) translateY(-$menu-size);            

            .page__nav--bottom[data-reveal-type='push'] {
                z-index: 2;
            }

            .page__body {
                pointer-events:none;
            } 
    }
}



/*
Basic Menu Styles

Styleguide 0.13.5
*/

.navtest button {
    padding:1em;
    margin:1em 0.5em 1em 0;
}

.nav-menu {
    list-style-type: none;
    padding:0;
    width:100%;
    margin:2em 0;
}

.nav-menu__item {
    list-style-type: none;
    margin:0;
    padding:0.5em 0;
}

.nav-menu__link {
    color:#fff;
    font-size:1.1em;
    text-align:center;
    display:block;
    width:100%;
}